@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,600;0,700;1,300;1,600;1,700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.navbar h2 {
    font-weight: 300;
    color:rgb(115, 63, 0);
}